<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="../View/CSS/loading.css">
    <script src="../Controller/load.js" defer></script>
    <title>Load</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script src="https://kit.fontawesome.com/eb5924e427.js" crossorigin="anonymous"></script>
    
  </head>
  <body>
    <h1>EDU PULSE</h1>
    <div id="progress-container">
    <div id="progress-bar">
        <div id="progress"></div>
        <div id="progress-text"></div>
      </div>
    </div>
  </body>
</html>